{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid" >
   <div class="row">
      <div class="col-sm-4">

         <h3 class="alert alert-dark">Add Project</h3>
         <script type="text/javascript" src="https://c1ach790.caspio.com/dp/f2498000b2b96bc84e7c46fcb997/emb"></script>
      </div>

      <div class="col-sm-8">
         <h3 class="alert alert-dark">List of Project</h3>
         <script type="text/javascript" src="https://c1ach790.caspio.com/dp/f2498000e69482e94b3c4ababe06/emb"></script>
      </div>
   </div>
</div>




{% endblock %}

