{% extends "portfolio/base_admin.html" %}

{% load static %}

{% block content_admin %}
<div class="container p-3 my-3 bg-dark text-white justify-content-center">
  <h1 class="justify-content-center">Welcome to ADMIN page</h1>
  <p>This page is for management use only. <br> Only authoirized persons are allowed to use this application.</p>
</div>
<!-- requesting password to enter Admin page-->
<script type="text/javascript" src="https://c0dcl958.caspio.com/dp/3c78800050ebf1fbdbd041dc8ab5/emb"></script>

{% endblock %}

