{% extends "portfolio/base_admin.html" %}

{% load static %}

{% block content_admin %}
<div class="container" >
   <div class="row">
      <div class="col-sm-4">

         <h3 class="alert alert-dark">Transcation Info</h3>
         <script type="text/javascript" src="https://c0dcl958.caspio.com/dp/3c7880006b2107d2ab19455681b1/emb"></script>

      </div>

      <div class="col-sm-8">
         <h3 class="alert alert-dark">Transaction Detail</h3>
         <script type="text/javascript" src="https://c0dcl958.caspio.com/dp/3c788000f37388dc3541442cb784/emb"></script>

      </div>
   </div>
</div>




{% endblock %}

